*.xcbkptlist
xcuserdata
.DS_Store
junit_output_for_tests.xml
*.ipa
*.xcarchive
*.xctimeline
scripts/localization/android
scripts/localization/ios
scripts/localization/swiftclasses
.dropbox
*.xcscmblueprint
.xcarchive
.ipa
Icon?
Iconr
*.bcsymbolmap

src/Carthage/Build/tvOS
src/Carthage/Build/Mac

.idea/
.vscode/
test_output/
test_report/
*.pyc

testenv/

src/fastlane/README.md
src/fastlane/report.xml
src/ASOSUITests/UserConfiguration.plist
